services:
  db:
    image: pgvector/pgvector:pg18
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - .env

  # backend:
  #   build: .
  #   depends_on:
  #     - db
  #   env_file:
  #     - .env
  #   environment:
  #     POSTGRES_HOST: db
  #   ports:
  #     - "${BACKEND_PORT:-8000}:8000"

volumes:
  pg_data: